<%- include('../header', {title}) %>

<section class="new">
    <%- include('../partials/error.ejs') %>
    <form action="/new" method="post" class="form">
        <h2>Add A Message</h2>

        <div class="username">
            <label for="username">Username: </label>
            <input type="text" name="username" id="username" placeholder="Enter Username">
        </div>

        <div class="msgText">
            <label for="messageText">Add Text: </label>
            <textarea name="messageText" id="messageText" placeholder="Add a Message" ></textarea>
        </div>

        <button type="submit" class="formSubmitBtn">Submit</button>
    </form>
</section>
</main>

<%- include('../footer') %>